<div class="ui-widget-header">
  <p-toolbar>
    <div class="ui-toolbar-group-left">
      <!-- <img src="../../assets/TEXO_IT_RGB_DIGITAL.png" alt="Texo IT Logo"> -->
      <button
        pButton
        class="ui-button"
        type="button"
        (click)="display = true"
        style="display: inline-block"
        icon="pi pi-bars">
      </button>
    </div>
  </p-toolbar>
</div>

<div class="ui-widget-content tx-content">
  <div class="ui-g">
    <router-outlet></router-outlet>
  </div>
</div>

<p-sidebar [(visible)]="display">
  <div class="sidebar">
    <!-- <img src="../../assets/TEXO_IT_RGB_DIGITAL.png" alt="Texo IT Logo"> -->
    <a routerLink="/itens/add" class="sidebar__item" href="">Cadastrar Item</a>
    <a routerLink="/itens/list" class="sidebar__item" href="">Lista de Itens</a>
  </div>
</p-sidebar>

