.back-button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.form-field {
  label,
  input {
    display: block;
  }
}

input {
  width: 100%;
}

.button-group {
  margin-top: 80px;

  button {
    width: 300px;
    margin-right: 20px;
    float: right;
  }
}
